@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --brand-neon: #ccff00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-neon: var(--brand-neon);
  --color-brand-dark: #1a1a1a;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility to hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Utility to hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}